.navbar-nav .nav-link:hover {
    color: white;
}
.navbar, .bad{
    background-color: #977da8;
}
.initial, .card-title, .edu{
    color: #866e96;
}
.btn{
    background-color: #806691;
    color: white
}
.btn:hover{
    background-color: #c4a4da;
    color: white;
}
.custom-shadow {
    box-shadow: 0 4px 8px 0 #b485d3; 
}

.skill{
    background-color: #f2e5f8;
}

